*{
    padding: 0;
    margin: 0;

}

.square {
    width: 23%;
    border-radius: 18.9%;
    background-color: blue;
    padding-bottom: 23%;
    float: left;
    margin: 2%;
    transition: background-color 0.8s;
    transition: border-radius 0.9s;
}

.square.winner {
    width: 23%;
    border-radius: 18.9%;
    background-color: yellow;
    padding-bottom: 23%;
    float: left;
    margin: 2%;
}

.square.loser {
    width: 23%;
    border-radius: 18.9%;
    background-color: grey;
    padding-bottom: 23%;
    float: left;
    margin: 2%;
}